@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

* {
   margin: 0;
   padding: 0;
   font-family: "Rethink Sans";
}

.body {
   background-color: #000;
   color: #fff; 
   height: 100vh;
   width: 100vw;
}

.header {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100vw;
   height: 5vh;
   padding-top: 5px;
}

.header div {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px
}

.header img {
   width: 32px;
   height: 32px;  
}

.header button {
   padding: 5px;
   border-radius: 10px;
}

.header button:hover {
   background-color: #ffff80;
}

.main {
   height: 90vh;
   width: 100vw;
}

.chatMessages {
   display: flex;
   flex-direction: column;
   height: 90%;
   margin-left: 5px;
   margin-right: 5px;
   padding: 2px;
}

.chatMessages img {
   width: 16px;
   height: 16px;
}

.message {
   display: flex;
   align-items: center;
   gap: 5px;
}

.message p {
   display: flex;
   gap: 3px
}

.chatInput {
   display: flex;
   align-items: center;
   margin-left: 5px;
   margin-right: 5px;
   gap: 3px;
}

.chatInput input {
   width: 90%;
   padding: 5px;
   border: none;
}

.chatInput button {
   width: 10%;
   padding: 5px;
   border: none;
}

.chatInput button:hover {
   background-color: #ffff80;
}

.footer {
   display: flex;
   justify-content: center;
   width: 100vw;
}